<app-navbar></app-navbar>
<div>
    <div class="img-fluid" style="background-image: url(../../assets/files/blue-757262__480.webp); 
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        padding-bottom:35%;
        ">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="text-info font-weight-bold" style="text-align: center; font-size: 75px;">Online Result System</p>
    </div>
</div>
<app-footer></app-footer>